<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <h1>Download from URL:</h1>
    <form action="http://localhost:5000/" method="POST">
        <input type="text" name="url" />
        <input type="submit"/>
    </form>
    {% if url %}
        <h4 id="progress">File is being downloaded: 0%</h4>
        <a id="download" href="{{ url }}"></a>
    {% endif %}

<!-- It is used for DOM manipulation, not mandatory to use stompjs -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

<!-- Include from CDN for better performance, alternatively you can locally copy as well -->
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>

<script type="application/javascript">
  $(function () {
    let stompClient;

    const stompConfig = {
      // Typically login, passcode and vhost
      // Adjust these for your broker
      connectHeaders: {
        login: "guest",
        passcode: "guest"
      },

      // Broker URL, should start with ws:// or wss:// - adjust for your broker setup
      brokerURL: "ws://localhost:15674/ws",

      // Keep it off for production, it can be quit verbose
      // Skip this key to disable
    //   debug: function (str) {
    //     console.log('STOMP: ' + str);
    //   },

      // If disconnected, it will retry after 200ms
      reconnectDelay: 200,

      // Subscriptions should be done inside onConnect as those need to reinstated when the broker reconnects
      onConnect: function (frame) {
        // The return object has a method called `unsubscribe`
        const subscription = stompClient.subscribe('/exchange/{{ exchange_name }}/{{ routing_key }}', function (message) {
          let payload = message.body;
          console.log(payload);
          displayIncomingMessage(payload);
        });
      }
    };

    // Create an instance
    stompClient = new StompJs.Client(stompConfig);

    // Attempt to connect
    stompClient.activate();

    function displayIncomingMessage(message) {
        if(message.includes('downloads')) {
            $("#download").html(message)
            // window.location.replace(message)
        } else {
            $("#progress").html("File is being downloaded: " + message + "%")
        }        
    }
  })
</script>
</body>
</html>